 

.form {
  margin: 0 auto;
}

.form--contact-us {
  max-width: 55rem;
}

.form-controls {
  width: 100%;
  grid-gap: 2rem 2rem;
  align-items: flex-start;
}

::placeholder {
  font-size: 1.4rem;
  font-family: var(--light);
}