 

.no-openings p {
  font-size: var(--small-font-size);
}

.current-openings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.page--careers hr {
  grid-column: center-start / center-end;
}

.form--careers-generic-form .form-control:last-child{
  grid-column: 1 / span 1;
}

section.section-no-top-padding{
  padding: 0 0 10rem 0 !important;
}